@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.container-fluid {
  font-size: 18px;
}
.c-thunderbird {
  background-color: #c02b18 !important;
}

.jumbotron {
  /* background-image: url("https://www.seriouseats.com/thmb/pJN1ZX9ZMIn2Y0rKVcbns8qkUB8=/1500x1125/filters:fill(auto,1)/Filipino-Features-Hero-Final-2-b785e627967843b0aa631c6a977adabe.jpg");
  */
  background-color: darkcyan;
  background-size: cover;
}

.fc-sunglow {
  color: #ffcc33 !important;
}

.f-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.btn-noglow:focus,
.btn-noglow:active {
  border: 0px !important;
  box-shadow: none !important;
  outline: 0px !important;
}

.card-img-top {
  height: 150px !important;
}
